:root {
  --sky: #deebff;
  --white: #ffffff;
  --black: #17202a;
  --blue: #0065fc;
  --gray: #f2f2f2;
}

.html {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  height: auto;
  width: auto;
}

/* body */
.body {
  font-family: "raleway", sans-serif;
  width: 100%;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0;
  color: var(--black);
  font-weight: 300;
  font-size: 100%;
  display: flex;
}

/* header */
.logo {
  object-fit: cover;
  margin-top: 2%;
}

.header {
  display: flex;
  align-items: center;
  margin-right: 60px;
  height: 120px;
}

.header_nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  flex: 1;
  justify-content: flex-end;
  margin-right: 10px;
}

.header_nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  word-spacing: 4px;
  text-align: right;
  flex-wrap: wrap;
  margin: auto;
}

.header_nav ul li {
  padding-right: 20px;
  padding-top: 40px;
}

.header_nav ul li a {
  padding: 43px 25px 0;
}

.lodging_nav {
  text-decoration: overline;
}

/* section recherche */
.main_title {
  color: var(--black);
  font-weight: bold;
}

.h1 {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 80%h;
}

.location {
  display: flex;
  margin: 10px 12px 10px 12px;
  font-size: 100%;
}

.fa-map-marker-alt {
  background-color: var(--gray);
  border-radius: 15px 0px 0px 15px;
  padding: 13px 15px 15px 15px;
  margin: auto;
}

.search_form_input {
  font-weight: bold;
  color: var(--black);
  width: 150px;
  padding: 12px 12px 15px;
}

.search_bar {
  padding: 10px 2px 13px 23px;
  width: 10em;
  border-top: var(--gray) 1px solid;
  border-bottom: var(--gray) 1px solid;
  border-right: none;
  border-left: none;
  font-size: 100%;
}

.city {
  font-weight: bold;
}

.search_form_icon {
  background-color: var(--white);
  border-left: 12px;
  border-radius: 12px;
}

.localisation::placeholder {
  font-family: "Raleway", "sans-serif";
  color: var(--black);
  font-weight: 100%;
  padding: 12px;
}

.search_form_btn {
  border-bottom-right-radius: 80px;
  border-top-right-radius: 100px;
  background-color: var(--blue);
  padding: 12px 15px 15px;
  color: var(--white);
  border: transparent;
  cursor: pointer;
}

.btn {
  display: none;
}

/* info */
.info {
  display: flex;
  margin: auto;
}

.fa-info {
  color: var(--blue);
  border: 1px var(--sky) solid;
  border-radius: 50%;
  padding: 2px 10px 5px 10px;
  background-color: var(--white);
}

.info p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}


/* filtre */

.filters_global {
  display: flex;
  flex-wrap: wrap;
}

.global {
  color: var(--blue);
  border: 1px var(--sky) solid;
  border-bottom-left-radius: 50%;
  border-radius: 50px;
  margin-left: 20px;
  padding: 0 20px 0 0;
}

.fa-money-bill-wave {
  background-color: var(--sky);
  border-radius: 80%;
  padding: 14px 12px 10px 12px;
}

.fa-child {
  background-color: var(--sky);
  border-radius: 80%;
  padding: 14px 12px 10px 12px;
}

.fa-heart {
  background-color: var(--sky);
  border-radius: 375%;
  padding: 14px 12px 10px 12px;
}

.fa-dog {
  background-color: var(--sky);
  border-radius: 80%;
  padding: 14px 12px 10px 12px;
}

.fa .fas {
  font-weight: 900;
}

/* section hébergements*/

.container_flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 20px 30px;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: var(--gray);
  width: auto;
}

.city_of_accommodation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}


.hotel img {
  display: flex;
  min height: 100px;
  margin: 10px 12px 5px 10px;
  width: 70%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}


.show_more {
  font-weight: bold;
}

/*Les hebergements les populaires*/


.popular_title {
  font-weight: bold;
  font-size: 80%;
  color: var(--black);
  font-weight: bold;
}

.fa-chart-line {
  display: flex;
  justify-content: flex-end;
}

.hotel_pop {
  display: flex;
  border-radius: 12px 10px 10px 12px;
  object-fit: cover;
  width: 240px;
  height: 110px;
  margin: 0px 10px 10px 10px;
  padding: 0px 10px 12px 15px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.figcaption {
  display: flex;

}

.element_flex {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: var(--white);
  display: flex;
  padding: 5px 10px 10px 5px;
  border-radius: 10px;
  margin: 0 0 30px 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  transform: scale(1);
  transition: .3s;
}


/*Activités*/
.activity {
  padding: 0px 0px 15px 10px;
  margin: auto;
  width: 200px;
}

.activity_flex {
  display: flex;
}

.image {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0px 10px 10px 10px;
}

/*Pieds de page*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 30px;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-bottom: 30px;
  white-space: nowrap;
  width: 50%;
  margin-top: 50px;
  background-color: var(--gray);
}


.footer ul {
  list-style: none;
  padding: 0px;
}

.about {
  font-weight: bold;
}

.lodging{
  font-weight: bold;
}

.assistance {
  font-weight: bold;
}

/*Mots repetés*/

.fa-star {
  color: var(--blue);
}

.price {
  font-weight: bold;
}

.h3 {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  flex-wrap: wrap;
}

/*media scrren*/

@media (min-width: 576px) {
.most_popular {
  display: flex;
  order: 1;
  background-color: var(--gray--);
  padding: 10px 20px 12px 10px%;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 30px;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-bottom: 30px;
  white-space: nowrap;
  width: 50%;
  margin-top: 50px;
  background-color: var(--gray);
}
.container_flex2{
  display: flex;
  flex-direction: row;
 border-radius: 10px;
 background-color: var(--gray);
 width: 70%;
 margin-bottom: 20px;
 margin: 0;
 padding: 0 18px;
 margin-right: 30px;
}

.flex_item1 {
  background-color: var(--white);
  display: flex;
  padding: 5px 10px 10px 5px;
  border-radius: 10px;
  margin: 0 0 30px 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  transform: scale(1);
  transition: .3s;
  flex-wrap: wrap;
}

}

