body {
  font-family: "raleway"; sans-serif;
  font-size: 100%;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 15x;
}

.headernav{
  text-decoration: overline;
  text-align: right;
}
.puce{
  list-style: none;
}
.searchformicon {
  background-color: #f2f2f2;
  border-left: 12px;
  border-radius: 12px;
}
.searchforminput{
font-weight: bold;
color: black; 

}

.searchformbtn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0065fc;
  height: 10px;
  padding: 12px 15px 15px;
  color: white;
}
.element-flex{
  display: flex;
  flex-direction: column;
  width: 200px;
}
.hebergements{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.element1{
  font-weight: bold;
}
